.champ_produit, card{
	background-color: #f3e9f1;
	 margin-left: 12%; 
	 margin-right: 12%; 
	margin-bottom: 4%;
	box-shadow: 0px 0px 18px #BDBDBD;
	display : flex;
}
/*main{
  max-width: 100%;
  justify-content: space-evenly;
  padding-top: 2rem;
}*/