.champ_produit, card{
	background-color: #f3e9f1;
	/* margin-left: 20%; */
	/* margin-right: 20%; */
	margin-bottom: 4%;
	box-shadow: 0px 0px 18px #BDBDBD;
	display : block;
	width: 20rem;
}
main{
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 2rem;
}